.paginationWrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.button {
  padding: 6px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;

  &:hover {
    background-color: rgba(196, 77, 86);
  }
}

.buttonActive {
  box-shadow: 3px 3px 3px rgb(139, 0, 0);
}

@media (min-width: 768px) {
  .paginationWrapper {
    gap: 15px;
  }

  .button {
    padding: 15px;
  }
}
